<div class="project page">
  <div class="message-container">
    <div class="alert-success" *ngIf="successMessage">
      <span class="closebtn"></span>
      {{ successMessage }}
    </div>
  </div>
  <header>
    <h1>Projects</h1>
    <div class="buttons-wrapper">
      <button-new (click)="openProjectCreationModal()"></button-new>
      <app-project-creation-modal
        [isOpen]="projectCreationModalOpen" (projectCreated)="updateProjects()" ></app-project-creation-modal>
    </div>
  </header>
  <div class="toggles">
    <h3
      [class]="display === 'all' ? 'active' : ''"
      (click)="toggleDisplay('all')">
      All
    </h3>
    <h3
      [class]="display !== 'all' ? 'active' : ''"
      (click)="toggleDisplay('archives')">
      Archives
    </h3>
  </div>
  @if (display === 'all') { <app-project-table></app-project-table>

  } @else if (display === 'archives') {
  <app-archived-projects></app-archived-projects> }
</div>
