<div class="clients page">
  <div class="message-container">
    <div class="alert-success" *ngIf="successMessage">
      <span class="closebtn"></span>
      {{ successMessage }}
    </div>
  </div>
  <header>
    <h1>Clients</h1>
    <div class="buttons-wrapper">
      <button-new (click)="openClientCreationModal()"></button-new>
      <app-client-creation-modal
        [isOpen]="clientCreationModalOpen" (newClientCreated)="updateClients()"></app-client-creation-modal>
    </div>
  </header>
  <div class="toggles">
    <h3
      [class]="display === 'all' ? 'active' : ''"
      (click)="toggleDisplay('all')">
      All
    </h3>
    <h3
      [class]="display !== 'all' ? 'active' : ''"
      (click)="toggleDisplay('archives')">
      Archives
    </h3>
  </div>
  @if (display === 'all') { <app-client-table></app-client-table>

  } @else if (display === 'archives') {
  <app-archived-clients-list></app-archived-clients-list> }
</div>
