<div class="message-container">
  <div class="alert-error" *ngIf="errorMessage">
    <span class="closebtn"></span>
    {{ errorMessage }}
  </div>

  <div class="alert-success" *ngIf="successMessage">
    <span class="closebtn"></span>
    {{ successMessage }}
  </div>
</div>

<ng-container *ngIf="loading; else clientTable">
  <div class="spinner-dots">
    <div class="custom-spinner">
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
    </div>
  </div>
</ng-container>
<ng-template #clientTable>
  <div class="client-list-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Assigned People</th>
          <th>Number of Projects</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td class="grid-item" (click)="openClientsDetails(client)">
            <input
              type="checkbox"
              [checked]="false"
              style="
                width: 15px;
                height: 15px;
                margin-right: 8px;
                font-family: 'LexendMedium';
                color: #022f54;
              " />

            {{ client.name }}
          </td>

          <td class="grid-item" (click)="openClientsDetails(client)">
            <div class="flex -space-x-4 rtl:space-x-reverse">
              <ng-container *ngFor="let employee of client.employees">
                <img
                  *ngIf="employee.picture; else defaultAvatar"
                  [src]="employee.picture"
                  alt="Employee Picture"
                  class="rounded-full border-2 border-white dark:border-gray-800"
                  title="{{ employee.name }}" />

                <ng-template #defaultAvatar>
                  <img
                    src="path/to/default/avatar.jpg"
                    alt="Default Avatar"
                    class="w-8 h-8 rounded-full border-2 border-white"
                    title="{{ employee.name }}" />
                </ng-template>
              </ng-container>
            </div>
          </td>
          <td class="grid-item" (click)="openClientsDetails(client)">
            {{ client.totalProjects }}
          </td>

          <td class="grid-item">
            <div
              class="dropdown-container"
              *ngIf="showDropdownForClient === client">
              <ul class="dropdown-details-container">
                <li>Edit</li>
                <li (click)="openClientsDetails(client)">View</li>
                <li (click)="archiveClient(client)">Archive</li>
                <li>Assign</li>
              </ul>
            </div>

            <button class="actions-btn" (click)="toggleDropdown(client)">
              <div class="actions-dot">
                <img src="assets/images/user/dots-v.svg" alt="dots" />
              </div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"></pagination>
</ng-template>
