<div class="users page">
  <div class="message-container">
    <div class="alert-success" *ngIf="successMessage">
      <span class="closebtn"></span>
      {{ successMessage }}
    </div>
  </div>
  <header>
    <h1>Users</h1>
    <div class="buttons-wrapper">
      <!-- <button-assign (click)="openGeneralAssignModal()"></button-assign> -->
      <button-new (click)="openUserCreationModal()"></button-new>
      <app-usercreation [isOpen]="userCreationModalOpen" (userCreated)="updateUsers()"></app-usercreation>
    </div>
  </header>
  <div class="toggles">
    <h3
      [class]="display === 'all' ? 'active' : ''"
      (click)="toggleDisplay('all')">
      All
    </h3>
    <h3
      [class]="display !== 'all' ? 'active' : ''"
      (click)="toggleDisplay('archives')">
      Archives
    </h3>
  </div>
  @if (display === 'all') { <user-list></user-list>

  } @else if (display === 'archives') { <archived-list></archived-list> }
</div>
