<div [class]="modalClasses">
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <header>
    <h2>Assign Resources</h2>
    <span (click)="close()">
      <img src="assets/images/user/x-close.svg" alt="close icon" />
    </span>
  </header>
  <div>
    <div>
      <label for="projectName">Project</label>
      <select
        #projectNameInput
        id="name"
        name="name"
        class="project-input"
        formControlName="name"
        [(ngModel)]="selectedProject">
        <option disabled selected>Select a project</option>
        <option *ngFor="let project of projects" [value]="project.projectName">
          {{ project.projectName }}
        </option>
      </select>
    </div>
  </div>
  <input
    type="search"
    class="search-input"
    id="search"
    placeholder="Search for individuals or specialization"
    [(ngModel)]="searchQuery"
    (input)="onSearchChange($event)" />
  <!-- <div *ngFor="let user of selectedUsers"> -->
  {{ user.firstName }} {{ user.lastName }}

  <!-- </div> -->

  <!-- <div *ngIf="loading; else userList"> -->
  <!-- <div>
    <div class="spinner-dots">
      <div class="custom-spinner">
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
      </div>
    </div> -->
  <!-- </div> -->

  <ng-template #noUsersFound>
    <img src="assets/images/user/searchh.svg" class="search" />
    <div class="no-users-message">
      <p>No users found.</p>
    </div>
  </ng-template>

  <div class="buttons-wrapper">
    <button
      type="reset"
      class="button bg-[#FFFFFF] text-[#022F54] hover:bg-[#e6e6e6]">
      Cancel
    </button>
    <button
      type="submit"
      (click)="submit()"
      class="button bg-[#1F26A8] text-white hover:bg-[#353cb1]">
      Assign
    </button>
  </div>
</div>

<div [class]="backdropClasses" (click)="close()"></div>
